<!DOCTYPE html>
<html lang="cs"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Test layout page</title>

    <!-- Add Bootstrap styles -->
    <link rel="stylesheet" th:href="@{/css/lib/bootstrap.min.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
    <!-- Add custom styles -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="bg-light">
    <header class="container-fluid bg-white">
        <nav class="container navbar navbar-expand-md bg-white">
            <a class="navbar-brand" href="/">Půjčovna nástrojů</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="mainNav">
                <ul class="navbar-nav ml-auto">
                    <li sec:authorize="isAnonymous()"><a class="nav-link" th:href="@{/login}">Přihlášení</a></li>
                    <li sec:authorize="isAuthenticated()"><a class="nav-link" th:href="@{/logout}">Odhlásit</a></li>
                    <li class="nav-item border-left pl-2">
                        <a class="nav-link btn btn-sm btn-outline-info" href="#"><i class="fas fa-shopping-cart mr-2"></i>Košík</a>
                    </li>

                </ul>
            </div>
        </nav>
    </header>

    <main class="container my-3 px-2  bg-white border-info">
        <section id="category-nav" class="d-flex flex-row mx-n2" style="height:60px">
            <div class="d-flex col bg-danger align-items-center">
                <a href="#" class="text-white">Stavba</a>
            </div>
            <div class="d-flex col bg-success align-items-center">
                <a href="#" class="text-white">Nářadí</a>
            </div>
            <div class="d-flex col bg-primary align-items-center">
                <a href="#" class="text-white">Zahrada</a>
            </div>
        </section>
        <section layout:fragment="content">

        </section>
    </main>

    <footer class="container-fluid bg-dark">
        <div class="container bg-danger">
            <p>Footer webu</p>
        </div>
    </footer>

    <!-- Add jQuery for Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <!-- Add Popper for Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

    <script th:src="@{/js/lib/bootstrap.min.js}" type="text/javascript"></script>
</body>
</html>